{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"],
  "importOrder": ["react", "next", "", "^@?\\w", "", "^@/(.*)$", "", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
